{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>ABUCODER</title>
<!--
DREAM PULSE
https://templatemo.com/tm-536-dream-pulse
-->
    <link rel="stylesheet" href="{% static 'https://fonts.googleapis.com/css?family=Open+Sans:400,600" />
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static './css/dghghfhfg.css' %}">
    <link rel="stylesheet" href="{% static 'slick/slick.css' %}"/>    
    <link rel="stylesheet" href="{% static 'slick/slick-theme.css' %}"/>    
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo-dream-pulse.css' %}" />
  </head>
  <body>
    <main class="container-fluid">
      <div class="row">        
          <nav id="tmSidebar" class="tm-bg-black-transparent tm-sidebar">
            <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
              <i class="fas fa-bars"></i>
            </button>
            <div class="tm-sidebar-sticky">
              <div class="tm-brand-box">
                <div class="tm-double-border-1">
                  <div class="tm-double-border-2">
                    <h1 class="tm-brand text-uppercase">Abu Coder</h1>
                  </div>
                </div>
              </div>

              <ul id="tmMainNav" class="nav flex-column text-uppercase text-right tm-main-nav">
                <li class="nav-item">
                  <a href="{% static '#intro" class="nav-link active">
                    <span class="d-inline-block mr-3">Boshqism</span>
                    <span class="d-inline-block tm-white-rect"></span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{% static '#about" class="nav-link">
                    <span class="d-inline-block mr-3">Biz haqimizda</span>
                    <span class="d-inline-block tm-white-rect"></span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{% static '#work" class="nav-link">
                    <span class="d-inline-block mr-3">Ishlarim</span>
                    <span class="d-inline-block tm-white-rect"></span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{% static '#clients" class="nav-link">
                    <span class="d-inline-block mr-3">Muhokamalar</span>
                    <span class="d-inline-block tm-white-rect"></span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{% static '#talk" class="nav-link">
                    <span class="d-inline-block mr-3">Keling gaplashamiz</span>
                    <span class="d-inline-block tm-white-rect"></span>
                  </a>
                </li>
              </ul>
              <ul class="nav flex-row tm-social-links">
                <li class="nav-item">
                  <a href="{% static 'https://www.facebook.com/abduraxmon.baxromov.77/" class="nav-link tm-social-link">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{% static 'https://t.me/Zedos_1" class="nav-link tm-social-link">
                    <i class="fab fa-telegram"></i>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{% static 'https://www.instagram.com/z_e_d_o_s/" class="nav-link tm-social-link">
                    <i class="fab fa-instagram"></i>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{% static 'https://linkedin.com" class="nav-link tm-social-link">
                    <i class="fab fa-youtube"></i>
                  </a>
                </li>
              </ul>
              <footer class="text-center text-white small">
                <p class="mb--0 mb-2">Biz bilan bog'lanish</p>
                <p class="mb-0">
                  <a rel="nofollow" href="{% static 'https://templatemo.com" class="tm-footer-link"></a>
                </p>
              </footer>
            </div>
          </nav>
          
          <main role="main" class="ml-sm-auto col-12">
            <div
              class="parallax-window"
              data-parallax="scroll"
              data-image-src="{% static 'img/dream-pulse-header.jpg' %}">
              <div class="tm-section-wrap">
                <section id="intro" class="tm-section">
                    <div class="tm-bg-white-transparent tm-intro">
                        <h2 class="tm-section-title mb-5 text-uppercase tm-color-primary">Salom men AbuCoderman.</h2>
                        <p class="tm-color-gray">
                          Men mukofotga sazovor bo'lgan to'liq stack veb-ishlab chiquvchiman va UI / UX javascript bo'yicha mutaxassisman.
                          Kodlar laboratoriyasida mening maqolalarimni, React and React Native UI komponentlarini tekshiring.
                          Veb portfel sahifasida mening so'nggi loyihalarim bilan tanishishdan qo'rqmang.
                        </p>
                        <p class="mb-0 tm-color-gray">
                         
                        </p>
                    </div>              
                </section>
            </div>            
          </div>

          <div class="tm-section-wrap bg-white">
            <section id="about" class="row tm-section">
              <div class="col-xl-6">
                <div class="tm-section-half">    
                    <div><i class="fas fa-6x fa-balance-scale mb-5 tm-section-icon"></i></div>                        
                    <h2 class="tm-section-title tm-color-primary mb-5">Biz haqimizda</h2>
                    <p class="mb-5">
                      Bugungi veb-sahifalarni ishlab chiquvchilar landshaftida innovatsion loyihalar va aqlli odamlar bor. Ushbu omillar birgalikda sanoatni ajoyib tezlik bilan oldinga siljitadi va shu bilan birga alohida veb-ishlab chiquvchilar uchun eng zo'r bo'lishni qiyinlashtiradi.
                    </p>
                    <p>
                      Yaxshi veb-ishlab chiquvchilar portfeliga ega bo'lish nafaqat sizning ijodkorligingiz va samaradorligingizni namoyish etadi, balki sizning malakangiz va professionalligingiz darajasini ham ta'kidlaydi.
                    </p>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="tm-section-half">
                    <div><i class="far fa-6x fa-building mb-5 tm-section-icon"></i></div>
                    <h2 class="tm-section-title tm-color-primary mb-5">Kompaniya Profili</h2>
                    <p class="mb-5">
                      Bugungi veb-rivojlanish landshaftida innovatsion loyihalar va aqlli odamlar bor. Ushbu omillar birgalikda sanoatni ajoyib tezlik bilan oldinga siljitadi va shu bilan birga alohida veb-ishlab chiquvchilar uchun eng zo'r bo'lishni qiyinlashtiradi. 
                    </p>
                    <p>
                      Yangi ishlab chiquvchi sifatida eng qiyin vazifalardan biri bu potentsial ish beruvchilar e'tiborini jalb qiladigan muvaffaqiyatli veb-ishlab chiquvchilar portfelini yaratishdir, ayniqsa, ish bozori haddan tashqari ko'p bo'lganida va keskinlik yuqori bo'lganda.
                    </p>
                </div>
              </div>
            </section>
          </div>
            
          <div class="tm-section-wrap bg-white">
            <section id="work" class="row tm-section">
              <div class="col-12">
                <div class="w-100 tm-double-border-1 tm-border-gray">
                    <div class="tm-double-border-2 tm-border-gray tm-box-pad">
                      <div class="tm-gallery-wrap">
                          <h2 class="tm-color-primary tm-section-title mb-4 ml-2">Mening ishlarim</h2>
                          <div class="">


                            <div class="slider">
                              <div class="slides">
                      
                                  <input type="radio" name="radio-btn" id="radio1">
                                  <input type="radio" name="radio-btn" id="radio2">
                                  <input type="radio" name="radio-btn" id="radio3">
                                  <input type="radio" name="radio-btn" id="radio4">
                      
                                  <div class="slide first">
                                     <a href="https://loyihachi.pythonanywhere.com/" target="_blank"> <img src="{% static './img/01.jpg' %}" alt="alevcoder"></a>
                                  </div>
                                  <div class="slide ">
                                      <img src="{% static './img/02.jpg' %}" alt="alevcoder">
                                  </div>
                                  <div class="slide">
                                      <img src="{% static './img/03.jpg' %}" alt="alevcoder">
                                  </div>
                                  <div class="slide">
                                      <img src="{% static './img/01.jpg' %}" alt="alevcoder">
                                  </div>
                      
                      
                                  <div class="navigation-auto">
                                      <div class="auto-btn1"></div>
                                      <div class="auto-btn2"></div>
                                      <div class="auto-btn3"></div>
                                      <div class="auto-btn4"></div>
                                  </div>
                              </div>
                      
                              <div class="navigation-manual">
                                  <label for="radio1" class="manual-btn"></label>
                                  <label for="radio2" class="manual-btn"></label>
                                  <label for="radio3" class="manual-btn"></label>
                                  <label for="radio4" class="manual-btn"></label>
                              </div>
                          </div>


                          </div>
                      </div>                        
                    </div>                  
                  </div>     
              </div>         
            </section>
          </div>
          
    
       
            
          <div class="tm-section-wrap bg-white">
            <section id="clients" class="row tm-section">
              <div class="col-12 tm-section-pad">
                  <div class="tm-flex-item-left">
                      <div class="tm-w-80">
                          <h2 class="tm-color-primary tm-section-title mb-4">Muhokamalar</h2>
                          <p class="mb-5">
                            Ba'zi ishlab chiquvchilar veb-portfellarni keraksiz deb bilishadi, asosan, bugungi kunda o'zingizning ishingizni baham ko'rish va kerakli e'tirofga sazovor bo'lish uchun bir qator tezroq, osonroq usullar mavjud. Bir nechta foydali narsalarni nomlash uchun siz Twitter, Dribble, dev.to va GitHub-dan foydalanishingiz mumkin.

                            Bu ajoyib variantlar bo'lishiga qaramay, ular veb-saytingizga trafikni yo'naltirish uchun yaxshiroqdir. Xo'sh, unda portfel veb-saytidan foydalanishning afzalliklari nimada? Mana bir nechtasi.
                          </p>
                      </div>
                      


                   
                  </div> 
              </div>                             
            </section>
          </div>
            
          <div class="tm-section-wrap bg-white">
            <section id="talk" class="row tm-section">
                <div class="col-xl-6 mb-5">
                  <div class="tm-double-border-1 tm-border-gray">
                    <div class="tm-double-border-2 tm-border-gray tm-box-pad">
                        <h2 class="tm-color-primary tm-section-title mb-4">Biz bilan bog'laning</h2>
                        <p class="mb-4">
                          Bundan tashqari, u kosmik makonni ifodalovchi sayyora sayyorasi aks etgan fon animatsiyasiga ega. Kirish boshi kichik va sodda, ammo esda 
                        </p>
                        <p class="mb-3">
                          qolarli bo'lib, sahifani aylantirishni davom ettirishga undaydi.
                        </p>
                    </div>                    
                  </div>                  
                </div>
                <div class="col-xl-6 mb-5">
                  <div class="tm-contact-form-wrap">
                    <form action="" method="POST" class="tm-contact-form">
                      {% csrf_token %}
                        <div class="form-group">
                          <input type="text" id="contact_name" name="user" class="form-control rounded-0 border-top-0 border-right-0 border-left-0" placeholder="Ismingiz" required="" />
                        </div>
                        <div class="form-group">
                          <input type="email" id="contact_email" name="pochta" class="form-control rounded-0 border-top-0 border-right-0 border-left-0" placeholder="Elektron po'chtangiz" required="" />
                        </div>
                
                        <div class="form-group">
                          <textarea rows="4" id="contact_message" name="xabar" class="form-control rounded-0 border-top-0 border-right-0 border-left-0" placeholder="Mesenger..." required=""></textarea>
                        </div>
                
                        <div class="form-group mb-0">
                          <button type="submit" class="btn rounded-0 d-block ml-auto tm-btn-primary">
                           Yuborish
                          </button>
                        </div>
                      </form>
                  </div>                    
                </div>
              </section>
          </div>
        </main>        
      </div>
    </div>
      <script type="text/javascript">
        let cheksiz = 1;
        setInterval(function(){
            document.getElementById('radio'+ cheksiz).checked = true;
            cheksiz++;
            if(cheksiz > 4){
                cheksiz = ;
            }
        }, 5000);
    </script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery.singlePageNav.min.js' %}"></script>
    <script src="{% static 'js/parallax.min.js' %}"></script>
    <script src="{% static 'slick/slick.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/templatemo-scripts.js' %}"></script>
  </body>
</html>